<div class="container-fluid border border-1">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Our Story</h2>
            <p class="small">We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.
                Fans were given situations where they had to come up with wacky and fun excuses. The person with the best
                excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that
                Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!</p>
    
            <p class="small"> Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the
                softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the
                middle of a performance and even finding excuses to be disqualified in a football match.</p>
    
            <p class="small">Launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given
                situations where they had to come up with wacky and fun excuses. The person with the best excuse won the
                Best Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan
                Pizza is the Tastiest Pan Pizza. Ever!</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid" src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-600w-526830277.jpg">
        </div>
        <div class="col-md-7 pl">
            <h5>Ingredients</h5>
            <p class="small text-justify">We're ruthless about goodness. We have no qualms about tearing up a day-old
                lettuce leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam.
                Stir Stir. While they're still young and fresh - that's our motto. It makes the kitchen a better place.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-7 pl">
            <h5 >Our Chef</h5>
            <p class="small text-justify float-end">They make sauces sing and salads dance. They create magic with skill,
                knowledge, passion, and stirring spoons (among other things). They make goodness so good, it doesn't
                know what to do with itself. We do though. We send it to you.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid" src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg">
        </div>
        <div class="col-md-7 pl">
            <h5 class="float-start">45 min Delivery</h5>
        </div>
    </div>
</div>